h1 {
    border-bottom: 1px dashed lightgrey;
    font-size: x-large;
    padding-bottom: 5px;
}

li{
    list-style-type: none;
}
.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
#access_token{
    width: 205px;
    margin-top: 10px;
    color: purple;
}
pre {
    background-color: #eae8e8;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

body {
    overflow-y: scroll;
    padding-top: 4.5rem;
}

#progress {
    background-color: purple;
    border-radius: 2px;
    position: fixed;
    top: 0;
    height: 5px;
    width: 0%;
    z-index: 99999;
}

#top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: white;
    border: 0;
    color: black;
    cursor: pointer;
    padding: 2px 4px;
    display: none;
    box-shadow: 1px -3px 5px 1px white;
    z-index: 99999;
}

#top:hover {
    background-color: purple;
    box-shadow: 1px -3px 5px 1px purple;
    color: snow;
}