@media screen and (min-width: 800px) {
    #forkMe {
        display: block!important;
    }
    #main {
        margin-left: 220px!important;
    }
    #menu {
        z-index: 11!important;
    }
}

.top {
    width: 100%;
    height: 42px;
    position: fixed;
    background-color: #1e3799;
    z-index: 200;
}

#menu {
    position: fixed;
    top: 42px;
    background-color: #f8c291;
    color: black;
    width: 220px;
    height: 100%;
    z-index: 5;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .file-li {
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
    }
    .menu-link {
        text-decoration: none;
        color: #0c2461;
    }
}

body, #main {
    background-color: #fad390;
    touch-action: manipulation;
    margin: 0;
}

#main {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
    top: 42px;
}

.content {
    zoom: 1;
    color: black;
    width: 100%;
    max-width: 1000px;
    h1 {
        line-height: 35px;
    }
}

.content::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.nested {
    li {
        a {
            padding-left: 20px !important;
        }
    }
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\00BB";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

#access_token {
    width: 205px;
    margin-top: 10px;
    color: purple;
}

#progress {
    background-color: purple;
    border-radius: 2px;
    position: fixed;
    top: 0;
    height: 5px;
    width: 0%;
    z-index: 99999;
}

.span-dir {
    display: inline-block;
    width: 210px;
    line-height: 35px;
    padding-left: 10px;
    color: black;
}

.span-dir:hover {
    background: #fad390;
}

li {
    span,
    a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.poem {
    width: 100%;
    height: 100%;
}

blockquote {
    border-left: .25em solid #607D8B;
    color: #6a737d;
    padding: 0 1em;
    margin-left: 0;
}

table {
    color: black;
    table-layout: fixed;
    width: 100%;
    th,
    td {
        padding: 5px;
        color: darkblue;
        word-break: break-all;
        border: 1px solid purple;
    }
}

pre {
    background-color: #e4d0d0;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    code {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    }
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    background-color: #e4d0d0;
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

#forkMe {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 100000;
}

#loading {
    background-image: url(https://tobeurself.github.io/img/loading.gif);
    background-repeat: no-repeat;
    position: fixed;
    top: 30%;
    right: calc(50% - 5em);
    width: 10em;
    height: 10em;
    display: block;
    z-index: 12;
}

.btn-group {
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 100000;
    a {
        display: block;
        text-decoration: none;
        box-shadow: 0px 0px 0px 1px #007200;
        background-color: mediumpurple;
        color: white;
        margin-bottom: 5px;
        border-radius: 2px;
    }
    a:hover{
        background-color: #007200;
        box-shadow: 0px 0px 0px 1px purple;
    }
}